@font-face {
    font-family: 'Editorial Ultralight' ;
    src: url(EditorialUltralight.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: rgb(251, 235, 244);
    color: rgb(255, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    font-family: 'Editorial Ultralight';
}

.circle {
  width: 300px;         
  height: 300px;        
  background-color: red; 
  border-radius: 50%;  
}

@keyframes myAnimation {
  from {background-color: rgb(1, 85, 1);}
  to {background-color: rgb(19, 3, 143);}
}

/* The element to apply the animation to */
.background {
  width: 100%;
  height: 400px;
  background-color: red;
  animation-name: myAnimation;
  animation-duration: 4s;
}