@font-face {
    font-family: 'Editorial Ultralight' ;
    src: url(EditorialUltralight.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: rgb(251, 235, 244);
    color: rgb(255, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    font-family: 'Editorial Ultralight';
}

.circle {
  width: 300px;         
  height: 300px;        
  background-color: red; 
  border-radius: 50%;  
  animation: circle 4s infinite alternate;
}

@keyframes circle {
  from {background-color: red;}
  to {background-color: rgb(252, 187, 237);}
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 10s
}

<<<<<<< HEAD
.background {
  width: 100%;
  height: 400px;
  background-color: red;
  animation-name: myAnimation;
  animation-duration: 4s;
=======
@keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
>>>>>>> 09c57104bdd938a46b2cd686d86d1b93bc866828
}